button {
  padding: 10px;
  height: 40px;
  width: 250px;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.585);
  border: 0px;
  background-color: rgba(255, 0, 0, 0.763);
  color: white;
}
